@media(min-width: 501px) {
  .users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
  }
}
@media(min-width: 800px) {
  .users {
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(min-width: 1201px) {
  .users {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}