body {
  margin: 0;
  font-size: 18px;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  text-align: center;
}
h1 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  color: #0C008C;
}
@media(min-width: 850px) {
  main {
    padding: 2em;
  }
}
