.user {
  text-align: center;
  padding: 1em;
  margin: 2em auto;
  border: 2px solid #C4C6FF;
  border-radius: 5px;
  max-width: 200px;
  transition: all 1.5s ease;
  background: white;
}
.user-name {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.03em;
  transition: font-size 0.5s ease;
  font-size: 0.9em;
  margin-bottom: 0;
}
.user-image {
  border-radius: 50%;
  border: 10px solid #E6E6FF;
  max-width: 150px;
  cursor: pointer;
  transition: border-color 1s ease;
}
.user-image:hover, .user.expanded .user-image {
  border-color: #8888FC;
  cursor: pointer;
}
.user .icon-add {
  height: 3em;
  transition: all 1s ease;
  fill: #A2A5FC;
  cursor: pointer;
}
.user .icon-add:hover {
  fill: #7069FA;
}
.user-details {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  color: #303030;
}
.user-details svg {
  margin-right: 0.5em;
  position: relative;
  top: 0.15em;
  fill: #303030;
  width: 1em;
  height: 1em;
}
.user.expanded {
  background-color:	#F8F8F8;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: none;
  margin: 0;
  padding: 3em;
  z-index: 2;
  margin: auto;
  border-color: #8888FC;
}
.user.expanded .icon-add {
  position: absolute;
  top: 0;
  left: 0;
  height: 4em;
  transform: rotate(45deg);
  fill: #7069FA;
}
.user.expanded .user-details {
  opacity: 1;
  height: auto;
}
.user.expanded .user-name {
  font-size: 1.2em;
}
@media(min-width: 750px) {
  .user {
    padding: 2em;
  }
}
@media(min-width: 1201px) {
  .user-backdrop.expanded {
    background-color: rgba(48, 48, 48, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .user.expanded {
    max-width: 500px;
    max-height: 600px; 
  }
}